.downloadButton{
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.downloadButton > img{
    width: 50%;
    height: 50%;
    object-fit: cover;
}