.header {
    background-color: var(--quaternary-background-color);
    color: var(--quaternary-text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-title {
    font-size: 1.5rem;
    color: var(--quaternary-text-color);
    font-weight: bold;
}

.header-loading {
    color: var(--secondary-text-color);
    font-size: 1rem;
    padding: 10px;
}