@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root {
  --primary-background-color: #e2f1ff;
  --secondary-background-color: #ffffff;
  --tertiary-background-color: #000000;
  --quaternary-background-color: #005f73;

  --primary-text-color: #005f73;
  --secondary-text-color: #0a9396;
  --tertiary-text-color: #000000;
  --quaternary-text-color: #ffffff;
}
