* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-background-color: #e2f1ff;
  --secondary-background-color: #f0f0f0;
  --tertiary-background-color: #000000;

  --primary-text-color: #005f73;
  --secondary-text-color: #0a9396;
  --tertiary-text-color: #000000;
}
